/* Colores del tema sonokai (https://github.com/sainnhe/sonokai)
 *
 * Fondo: #2c2e34
 * Frente: #e2e2e3
 *
 * Normal:
 *  Negro: #181819
 *  Rojo: #fc5d7c
 *  Verde: #9ed072
 *  Amarillo: #e7c664
 *  Azul: #76cce0
 *  Magenta: #b39df3
 *  Cian: #f39660
 *  Blanco: #e2e2e3
 *
 * Claro:
 *  Negro: #181819
 *  Rojo: #fc5d7c
 *  Verde: #9ed072
 *  Amarillo: #e7c664
 *  Azul: #76cce0
 *  Magenta: #b39df3
 *  Cian: #f39660
 *  Blanco: #e2e2e3
 */

/* html {
	background-color: #2c2e34;
	padding: 75px 0px;
	margin-left: auto;
	margin-right: auto;
	max-width: 850px;
	color: #e2e2e3;
	/* font-family: 'UbuntuMono Nerd Font'; */
	/* font-family: 'monospace';
}

h2 {
	color: #76cce0;
}

a {
	color: #9ed072;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
} */

html {
	background-color: #080808;
	/* padding: 75px 0px; */
	margin: 0px auto;
	padding: 0px;
	max-width: 850px;
	color: #b2b2b2;
	font-family: 'monospace';
	line-height: 1.5em;
}

h2 { color: #80a0ff; }
h3 { color: #e3c78a; }
h4 { color: #d183e8; }
h5 { color: #79dac8; }

a { color: #8cc85f; text-decoration: none; }
a:hover { text-decoration: underline; }

pre {
	border-radius: 2px;
	padding: 15px;
	width: 75%;
	margin: 0 auto;
	background-color: #323437;
	font-family: 'monospace';
	font-size: 1.1em;
}

p {
	text-align: justify;
}

p > img { margin: 0px auto; }

img { margin: 0px auto; }

code { background-color: #323437; padding: 4px; }

/* table { width: 100%; border: 1px #eeeeee; } */
table { width: 100%; }

th, td { border-bottom: 1px solid #eeeeee; border-left: 1px solid #eeeeee; text-align: left; padding-left: 15px; }
!thead { text-align: center; padding: 0px; }

/* Colores del tema moonfly (https://github.com/bluz71/vim-moonfly-colors)
 *
 * Background:               #080808
 * Foreground:               #b2b2b2
 * Bold:                     #eeeeee
 * Cursor:                   #9e9e9e
 * Cursor Text:              #080808
 * Selection:                #b2ceee
 * Selection Text:           #080808
 * Color 1 (Black):          #323437
 * Color 2 (Red):            #ff5454
 * Color 3 (Green):          #8cc85f
 * Color 4 (Yellow):         #e3c78a
 * Color 5 (Blue):           #80a0ff
 * Color 6 (Purple):         #d183e8
 * Color 7 (Cyan):           #79dac8
 * Color 8 (White):          #de935f
 * Color 9 (Bright Black):   #f09479
 * Color 10 (Bright Red):    #ff5189
 * Color 11 (Bright Green):  #36c692
 * Color 12 (Bright Yellow): #bfbf97
 * Color 13 (Bright Blue):   #74b2ff
 * Color 14 (Bright Purple): #ae81ff
 * Color 15 (Bright Cyan):   #85dc85
 * Color 16 (Bright White):  #e2637f
 */
